<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.sysu.dao.InfoStudentMapper" >
  <resultMap id="BaseResultMap" type="org.sysu.pojo.InfoStudent" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="stu_id" property="stuId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="CHAR" />
    <result column="district" property="district" jdbcType="CHAR" />
    <result column="institute" property="institute" jdbcType="VARCHAR" />
    <result column="major" property="major" jdbcType="VARCHAR" />
    <result column="year" property="year" jdbcType="DATE" />
    <result column="school_year" property="schoolYear" jdbcType="TINYINT" />
    <result column="phone" property="phone" jdbcType="CHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, stu_id, name, sex, district, institute, major, year, school_year, phone, email, 
    gmt_create, gmt_modified
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from info_student
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from info_student
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.sysu.pojo.InfoStudent" >
    insert into info_student (id, stu_id, name, 
      sex, district, institute, 
      major, year, school_year, 
      phone, email, gmt_create, 
      gmt_modified)
    values (#{id,jdbcType=BIGINT}, #{stuId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{sex,jdbcType=CHAR}, #{district,jdbcType=CHAR}, #{institute,jdbcType=VARCHAR}, 
      #{major,jdbcType=VARCHAR}, #{year,jdbcType=DATE}, #{schoolYear,jdbcType=TINYINT}, 
      #{phone,jdbcType=CHAR}, #{email,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="org.sysu.pojo.InfoStudent" >
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into info_student
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="stuId != null" >
        stu_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="district != null" >
        district,
      </if>
      <if test="institute != null" >
        institute,
      </if>
      <if test="major != null" >
        major,
      </if>
      <if test="year != null" >
        year,
      </if>
      <if test="schoolYear != null" >
        school_year,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="stuId != null" >
        #{stuId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=CHAR},
      </if>
      <if test="district != null" >
        #{district,jdbcType=CHAR},
      </if>
      <if test="institute != null" >
        #{institute,jdbcType=VARCHAR},
      </if>
      <if test="major != null" >
        #{major,jdbcType=VARCHAR},
      </if>
      <if test="year != null" >
        #{year,jdbcType=DATE},
      </if>
      <if test="schoolYear != null" >
        #{schoolYear,jdbcType=TINYINT},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=CHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.sysu.pojo.InfoStudent" >
    update info_student
    <set >
      <if test="stuId != null" >
        stu_id = #{stuId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=CHAR},
      </if>
      <if test="district != null" >
        district = #{district,jdbcType=CHAR},
      </if>
      <if test="institute != null" >
        institute = #{institute,jdbcType=VARCHAR},
      </if>
      <if test="major != null" >
        major = #{major,jdbcType=VARCHAR},
      </if>
      <if test="year != null" >
        year = #{year,jdbcType=DATE},
      </if>
      <if test="schoolYear != null" >
        school_year = #{schoolYear,jdbcType=TINYINT},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=CHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.sysu.pojo.InfoStudent" >
    update info_student
    set stu_id = #{stuId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=CHAR},
      district = #{district,jdbcType=CHAR},
      institute = #{institute,jdbcType=VARCHAR},
      major = #{major,jdbcType=VARCHAR},
      year = #{year,jdbcType=DATE},
      school_year = #{schoolYear,jdbcType=TINYINT},
      phone = #{phone,jdbcType=CHAR},
      email = #{email,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByLoginID" resultMap="BaseResultMap" parameterType="string" >
    select 
    <include refid="Base_Column_List" />
    from info_student
    where stu_id = #{stuId,jdbcType=VARCHAR}
  </select>
  <select id="selectByNotExistsUser" resultMap="BaseResultMap" >
    select ist.*
    from info_student ist
    where not exists
	(select * from user u where u.login_id = ist.stu_id)
  </select>
  <select id="selectByNotExistsLicense" resultMap="BaseResultMap" >
    select ist.*
    from info_student ist
    where not exists
	(select * from reader_license rl where rl.account = ist.stu_id)
  </select>
</mapper>